@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#activeMenu a.active {
  @apply text-blue_25 font-bold;
}

body {
  @apply bg-blue_100;
}

/* .progress-bar {
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
} */
